.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  margin-top: 2em;
}

.about-title {
  width: 100%;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-title .title {
  border: 1px solid white;
  width: fit-content;
  padding: 30px 60px;
}

.about h2 {
  font-size: 48px;
}

.about-content {
  display: flex;
}

.about-image {
  margin-left: 2em;
}

.about-image img {
  border-radius: 50%;
  width: 200px;
  height: auto;
  filter: grayscale(100%);
}

.about-desc {
  margin-left: 2em;
  margin-top: 2em;
  text-align: left;
}

.about-desc p {
  line-height: 2;
  letter-spacing: 2px;
}

.about-desc h5 {
  line-height: 2;
  letter-spacing: 2px;
}

.skill-area {
  margin-top: 2em;
}

.skill-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.skill-icon {
  font-size: 20px;
}

.skill-icon p {
  font-size: 14px;
}

@media (max-width: 820px) {
  .about {
    height: auto;
  }
  .about h2 {
    font-size: 24px;
  }

  .about-content {
    display: block;
  }

  .about-image {
    margin-left: 0;
  }

  .about-desc {
    padding: 2em;
    margin: 0;
    text-align: center;
  }

  .skill-icons {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* anime */
.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1000ms;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}
