.menu {
  list-style: none;
  display: flex;
  gap: 2em;
  justify-content: center;
  padding-top: 1rem;
  font-size: 24px;
}

.menu li {
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  margin-top: 2em;
}

@media (max-width: 820px) {
  .header {
    display: block;
    padding-bottom: 1rem;
  }

  .header h5 {
    margin-bottom: 1em;
  }
}

.header h5 {
  font-size: 28px;
  margin-top: 0.5rem;
}

.menu li a {
  font-size: 18px;
}

/* anime */
/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}

.gnavi li.current a,
.gnavi li a:hover {
  color: pink;
}

.gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: pink;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: center top; /*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}
