.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
}

.hero-content {
  border: 1px solid white;
  padding: 40px 80px;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.hero p {
  font-size: 32px;
}

.hero-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.icon {
  font-size: 20px;
}

.icon:hover {
  color: pink;
}

.down-arrow {
  margin-top: 5rem;
  font-size: 32px;
  position: relative;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: 40px;
  }
}

@media (max-width: 820px) {
  .hero {
    padding: 0;
  }

  .hero-wrapper {
    width: 90vw;
    padding: 0;
  }

  .hero-content {
    border: 1px solid white;
    padding: 20px 40px;
  }

  .hero h1 {
    font-size: 32px;
    margin-bottom: 2rem;
  }

  .hero p {
    font-size: 16px;
  }
}
