.project {
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  margin-top: 2em;
}

.project-wrapper {
  margin-top: 5em;
}

.project-title {
  width: 100%;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.project-title .title {
  border: 1px solid white;
  width: fit-content;
  padding: 30px 60px;
}

.project h2 {
  font-size: 48px;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.project-image p {
  margin-bottom: 2em;
}

.project-image .leftSide {
  object-position: 0 0;
}

.project-links {
  display: flex;
  gap: 20px;
  font-size: 32px;
}

@media (max-width: 820px) {
  .project h2 {
    font-size: 24px;
  }

  .project-content {
    display: block;
  }

  .project-image {
    margin-left: 0;
  }

  .project-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* anime */
.bgLR {
  position: relative;
}

.bgLR span.mask {
  position: relative;
  display: block;
  line-height: 0;
  overflow: hidden;
}

.bgLR span.mask::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: translateX(-100%);
  background: #333;
  width: 100%;
  height: 100%;
}

.bgLR:hover span.mask::before {
  opacity: 1;
  transform: translateX(0);
}

.bgLR span.cap {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  line-height: 1.5;
}

.bgLR:hover span.cap {
  opacity: 1;
}
